.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow: hidden;
}

.container {
  padding: 2rem 4rem;
  overflow: auto;
  background-color: #f2f2f2;
  align-items: center;
  display: grid;
  justify-content: center;
}

.main {
  height: 100%;
  max-width: 100rem;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.article {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-right: 6rem;
}

.figure {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1em;
  border: 1px solid darkslateblue;
}

.figcaption {
  align-self: center;
  margin-top: 1em;
}

.figcaption a {
  text-decoration: underline;
}

.footer {
  border-top: 1px solid darkslateblue;
  background-color: aliceblue;
  display: grid;
  justify-content: center;
  overflow-x: auto;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

@media (max-width: 1024px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .nav {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  padding-bottom: 1em;
  flex-grow: 1;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a[aria-current] {
  font-weight: bold;
  text-decoration: underline;
}

.header {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid darkslateblue;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
