.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow: hidden;
}

.container {
  padding: 2em 4em;
  overflow: auto;
  background-color: #f2f2f2;
  display: grid;
  justify-content: center;
}

.main {
  height: 100%;
  max-width: 100rem;
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6em;
}

.memoHead {
  column-gap: 2em;
  display: grid;
  grid-template-columns: min-content auto;
  grid-auto-rows: auto;
  margin-top: 1em;
}

.article {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
}

.article a {
  color: darkblue;
  opacity: 75%;
}

.article a:hover {
  text-decoration: underline;
}

.figure {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1em;
  border: 1px solid darkslateblue;
}

.fallback {
  height: auto;
}

.figcaption {
  align-self: center;
  margin-top: 1em;
}

.figcaption a {
  text-decoration: underline;
}

.footer {
  border-top: 1px solid darkslateblue;
  background-color: aliceblue;
  display: grid;
  justify-content: center;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 1em;
  row-gap: 1em;
}

@media (max-width: 1024px) {
  .article {
    margin-right: 0;
  }

  .main {
    grid-template-columns: 1fr;
    grid-template-rows: auto 100%;
  }

  .nav {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15em;
  flex-grow: 1;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a[aria-current] {
  font-weight: bold;
  text-decoration: underline;
}

.header {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid darkslateblue;
  justify-content: center;
  padding: 2em;
  text-align: center;
}

.title {
  font-size: 2em;
  text-align: center;
}